@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins";
  background-color: #dde1e7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-section{
  background-color: #dde1e7;
  width: 1000px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.3);
  padding: 25px;
}
.row{
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 16px;
}

.row input{
  border: none;
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.3);
  height: 50px;
  min-width: 50px;
  font-size: 20px;
  color: #808080;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.row input[value="SPACE"] {
  width: 60%;
}

.row input:hover{
  cursor: pointer;
}

.row input:focus{
  color: #3498db;
  font-size: 19px;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 2px 2px 5px rgba(94, 104, 121, 0.3);
}

@media screen and (max-width:1000px){
  .keyboard-section{
    width: 750px;
  }
}

@media screen and (max-width: 850px) {
  .keyboard-section{
    width: 650px;

  }
  .row input {
    height: 40px;
    min-width: 40px;
    font-size: 14px;
  }
  .row{
    gap: 10px;
  }

  
.row input:focus{
  font-size: 12px;
}

}

@media screen and (max-width:700px) {
  .keyboard-section{
    width: 530px;
  }


  .row input{
    height: 30px;
    min-width: 30px;
    font-size: 12px;
  }

  
  .row input:focus{
    font-size: 10px;
  }
  
.row input[value="SPACE"] {
  width: 65%;
}
}

@media screen and (max-width:530px) {
  .keyboard-section{
    width: 430px;
  }
  .row input{
    height: 25px;
    min-height: 20px;
    font-size: 10px;
  }

  .row input:focus{
    font-size: 8px;
  }
}
